h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    width: 100%;
}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
    height: 252px;
    margin: 0 auto;
}