.feature-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.feature-list .feature-list__item {
    width: 100%;
    /* flex-basis: calc((100% - 90px) / 4); */
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.feature__icon {
    height: 120px;
    margin-bottom: 15px;
    background-color: var(--secondary-bd-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-list .title {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
    @media screen and (min-width: 768px) {
        text-align: left;
    
    }
}